body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

h5, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

h5 {
    font-weight: lighter;
}

h2 {
    font-size: 36px;
    font-size: 1000;
    color: #1F2937;
    text-align: center;
}

h3, h6 {
    color: #E5E7EB;
    margin: 0;
}

h6{
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

/* classes */
.header-button {
    width: 120px;
    padding: 6px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight:bold;
}

.hero{
    background-color: #1F2937;
    padding: 0 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    padding: 18px 0;
    display: flex;
    justify-content: space-between ;
}

.header-links {
    display: flex;
    gap: 18px;
}

.hero-content {
    display: flex;
}

.container {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.card{
    width: 200px;
    height: 200px;
    padding: 8px;
    border: solid #3882F6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 150px;
    height: 150px;
}

.text {
    text-align: center;
}

.quotes {
    margin: 0;
    margin-top: 50px;
    padding: 32px 500px;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quoter {
    text-align: end;
    font-weight: bold;
}

.action-card {
    margin: 32px 0;
    padding: 24px;
    width: 500px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    width: 100px;
    background-color: #3882F6;
    border-radius: 6px;
    border: solid #E5E7EB;
    color: #E5E7EB;
}

.action-button:hover {
    background-color: burlywood;
}

.footer {
    padding: 1px;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}